*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav .container{
    max-width: 960px;
    margin: auto;
    padding: 15px 0px;
}

nav .container .logo{
    padding-left: 15px;
    font-weight: bolder;
}

nav{
    width: 100%;
    background-color: #333;
}

nav .container a{
    text-decoration: none;
    color: white;
}

nav .container ul{
    display: inline;
}

nav .container ul li{
    float: right;
    display: block;
    padding-left: 20px;
}

nav .container ul li a{
    padding: 15px 15px;
    text-align: center;
}

nav .container ul li a:hover,a.current{
    background-color: #444;
    color: #f7c08a;
    cursor: pointer;
}

.show-case{
    width: 100%;
    text-align: center;
    height: 450px;
    background:url('./img/showcase.jpg') no-repeat center center/cover;
}

.show-case .container{
}

.text-primary{
    color: #f7c08a;
}

.show-case .container h1{
    color: white;
    font-size: 40px;
    padding: 0 0 30px 0;
}

.show-case .container p{
    color: white;
    padding-bottom: 30px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color:  white;
    padding: 10px 15px 10px 15px;
    background-color: grey;
}

.btn:hover,.btn.current{
    background-color: #444;
    color: #f7c08a;
    cursor: pointer;
}

.show-case .content{
    padding: 150px 0 150px 0;
}

.btn-light{
    background-color: #f4f4f4f4;
    color: #333;
}

#home-info .info-img{
    background: url(./img/photo-1.jpg) no-repeat center center/cover;
    float: left;
    width: 50%;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    min-height: 100%;
    text-align: center;
    padding: 80px 30px;
    overflow:auto;
}

#home-info .info-content h1,#home-info .info-content  p{
    padding: 0 0 30px 0;
}

#home-info{
    height: 400px;
}

.bg-dark{
    background-color: #333;
    color: #fff;
}

.bg-light{
    background-color: white;
}

.bg-primary{
    background-color: #f7c08a;
}
 
.box
{
    width: 33.3%;
    float: left;
    padding: 50px;
    text-align: center;
}

.box h3,i{
    padding-bottom: 25px;
}

.clr{
    clear: both;
}

.main-footer{
    width: 100%;
    background-color: #333;
    color: white;
    padding: 25px;
    text-align: center;
    display: inline-block;
}

.about-info{
    width: 100%;
}

.about-info h1{
    padding: 0px 0 20px 0;
    font-size: 40px;
}

.about-info .container{
    max-width: 960px;
    margin: auto;
}

.about-info .container .about-info-img{
    width: 40%;
    float: right;
    display: block;
    border-radius: 50%;
    padding: 20px 20px 20px 0;
}

.about-info .context{
    float: left;
    max-width: 500px;
    width: 60%;
    padding: 50px 0 50px 0;
}

#testimonials .container{
    max-width: 960px;
    margin: auto;
    padding-top: 100px;
}

#testimonials{
    height: 600px;
    background: url('./img/test-bg.jpg') no-repeat center center/cover;
    padding-top: 40px;
}

#testimonials .testimonial{
    padding: 20px 0 20px 0;
    width: 100%;
    display: inline-block;
    background-color: #f7c08a;
    margin:10px 0 10px 0;
}

#testimonials .container .testimonial img{
    float: left;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

#testimonials .container .testimonial p{
    padding: 15px 10px 15px 10px;
}

.contact-form .container{
    max-width: 960px;
    margin: auto;
    padding: 50px 20px 50px 20px;
}

.contact-form input, .contact-form textarea{
    display:block;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    border-color: grey;
    border-style:double;
    font-size: 30px;
}

textarea{
    max-height: 150px;
}

.contact-form a{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 100px;
}

.contact-form h1{
    font-size: 45px;
    padding-bottom: 20px;
    text-align: center;
}

.contact-form p{
    font-size: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.contact-form label{
    display: block;
    float: left;
    padding: 15px 0 15px 0;
    width: 100%;
}